h1 {
  text-align: center;
  text-shadow: 5px 5px rgb(244, 245, 220);
  font-family: "Fjalla One", sans-serif;
}
body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 0%,
    rgba(0, 212, 255, 1) 0%,
    rgba(0, 255, 210, 1) 62%
  );
}
a {
  font-family: "Fjalla One", sans-serif;
}

.text3 {
  margin-top: 1%;
  margin-left: 60%;
}

.text2 {
  margin-top: 1%;
  margin-left: 1%;
}

.mail {
  margin-top: 1%;
  margin-left: 85%;
}

.text {
  margin-top: 3px;
  margin-left: 20;
  size-adjust: 20%;
}

.Home {
  width: 35%;
  margin-top: 30px;
}

.Godmat {
  width: 20%;
  margin-top: 30px;
}

.Recept {
  width: 35%;
  margin-top: 30px;
}

.Kontakt {
  display: flex;
  width: 35%;
  margin-top: 30px;
}

.baller {
  width: 100%;
}

.topnav {
  display: flex;
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #ddb502;
  color: white;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tfoot {
  border: 4px solid #e0a911;
  text-align: left;
  padding: 16px;
  background-color: #d46868;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.animation {
  width: 100px;
  height: 100px;
  background: linear-gradient(-45deg, red, blue, green);
  background-size: 400% 400%;
  animation-name: gradient;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
